@model CodingCraftMod1Ex4Identity.ViewModels.ExternalLoginListViewModel
@using Microsoft.Owin.Security

<h4>Use outro serviço para conectar.</h4>
<hr />
@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Count() == 0)
    {
        <div>
            <p>
                Não há autenticações externas configuradas. Veja <a href="http://go.microsoft.com/fwlink/?LinkId=313242">esse artigo.</a>
                para detalhes de como configurar aplicações ASP.NET para suportar serviços de logins externos.
            </p>
        </div>
    }
    else
    {
        using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl }))
        {
            @Html.AntiForgeryToken()
            <div id="socialLoginList">
                <p>
                    @foreach (AuthenticationDescription p in loginProviders)
                    {
                        var cssStyle = p.Caption.ToLower();
                        var cssIco = cssStyle;
                        if (cssStyle == "microsoft")
                        {
                            cssIco = "windows";
                        }
                        <button type="submit" class="btn btn-block btn-social btn-@cssStyle" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Conectar usando sua conta @p.Caption">
                            @p.AuthenticationType
                            <span class="fa fa-@cssIco"></span>
                        </button>
                    }
                </p>
            </div>
        }
    }
}