@model CodingCraftMod1Ex4Auth.Models.UserRole

@{
    ViewBag.Title = "Detalhes";
}

<h2>Details</h2>

<div>
    <h4>UserRole</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CustomUser.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomUser.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Role.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Role.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastModified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastModified)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.UserRoleId }) |
    @Html.ActionLink("Voltar a lista", "Index")
</p>
