@model CodingCraftMod1Ex4Auth.Models.Membership

@{
    ViewBag.Title = "Detalhes";
}

<h2>Details</h2>

<div>
    <h4>Membership</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CustomUser.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomUser.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConfirmationToken)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConfirmationToken)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsConfirmed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsConfirmed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastPasswordFailureDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastPasswordFailureDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PasswordFailuresSinceLastSuccess)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PasswordFailuresSinceLastSuccess)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PasswordChangedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PasswordChangedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PasswordVerificationToken)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PasswordVerificationToken)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PasswordVerificationTokenExpirationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PasswordVerificationTokenExpirationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastModified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastModified)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.MembershipId }) |
    @Html.ActionLink("Voltar a lista", "Index")
</p>
