@model IEnumerable<CodingCraftMod1Ex4Auth.Models.Membership>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Criar novo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CustomUser.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ConfirmationToken)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsConfirmed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastPasswordFailureDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PasswordFailuresSinceLastSuccess)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PasswordChangedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PasswordVerificationToken)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PasswordVerificationTokenExpirationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastModified)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CustomUser.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ConfirmationToken)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsConfirmed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastPasswordFailureDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PasswordFailuresSinceLastSuccess)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PasswordChangedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PasswordVerificationToken)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PasswordVerificationTokenExpirationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastModified)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedOn)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.MembershipId }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.MembershipId }) |
            @Html.ActionLink("Excluir", "Delete", new { id=item.MembershipId })
        </td>
    </tr>
}

</table>
